body{

    margin: 0px;
    padding: 0px;
    background: white;
    text-align: center;
}
#container{

    background: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#titles{
    margin-top: 20px;
    background: rgba(128, 0, 128, 0);
    padding: 5px;
    color: grey;
}
#questions{

    display: flex;
    flex-direction: column;
}
label{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 200px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
}
label.focus{

    background: purple;
}
input[type=radio]{

    border-radius: 10%;
    width: 30px;
    height: 30px;
    accent-color: red;
}
#btns{

    background: rgba(255, 255, 0, 0);
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}
#btnResult{

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: rgb(40, 40, 40);
    border: none;
    padding: 5px;
    font-size: 13pt;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.4s;
}
#btnResult:hover{

    background: rgb(40, 40, 40);
    color: white;
}
#btnRemoveScore{

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: rgb(40, 40, 40);
    border: none;
    padding: 5px;
    font-size: 13pt;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.4s;
    margin-left: 10px;
}
#btnRemoveScore:hover{

    background: rgb(40, 40, 40);
    color: white;
}
.label:focus{

    background: purple;
}